:root {
	--swiper-theme-color: #8dafc0;
}

.swiper {
	overflow: visible;
}

.swiper-pagination-bullet-active {
	border: 2px solid #eee;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	background-color: #8dafc0;
}

main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	/* row-gap: 10%; */
	padding: 60px 8%;
}

main > .content {
	padding: 60px 0;
	display: flex;
	align-self: center;
	column-gap: 20px;
	width: 100%;
	min-width: 240px;
	max-width: 1400px;
	flex: 1;
}

footer {
	display: flex;
	align-self: center;
	width: 100%;
	min-width: 240px;
	max-width: 1400px;
	user-select: none;
}

@media only screen and (max-width: 992px) {
	.swiper {
		overflow: hidden;
		margin-left: 0;
	}

	main > .content {
		flex-direction: column;
		justify-content: space-between;
	}
}
